<div id = 'pages'></div>

<script type="text/javascript">
  $(function() {
      // Blog is the app name
      window.router = new Woodpecker.Routers.PagesRouter({});
      Backbone.history.start();
      });
</script>
